services:
  # Servicio Web (Django)
  - type: web
    name: practicas-web
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: practicas-db
          property: connectionString
      - key: WEB_CONCURRENCY
        value: 4

  # Base de datos PostgreSQL
  - type: psgql
    name: practicas-db
    region: oregon
    plan: free
    databaseName: practicas_db
    databaseUser: practicas_user
    ipAllowList: []

